*{
    margin: 0 !important;
    padding: 0 !important;
    right: 0 !important;
    box-sizing: border-box !important;
}

.container-fluid .Up{
    background-image: url(/assets/detail.png);
    height: 250px !important;
    margin: 0 0 -150px 0 !important;
}

.container-fluid .Up button{
    color: white;
    font-size: 30px;
    line-height: 39px;
    padding-right: 15px !important;
    font-weight: bold;
}

button{
    border: none;
    background: none;
}

i{
    font-size: 25px !important;
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px ;
    height: 30px;
    width: 30px;
    padding: 4px !important;
    margin: 10px 0 0 15px !important;
}

img{
    padding-right: 50px !important;
}

.container-fluid .down{
    margin: 170px 0 0 0 !important;
}

.novel{
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    width: 95px;
    background: #FBCC38;
    border-radius: 15px;
    font-family: 'Airbnb Cereal App';
    padding-left: 25px !important;
}

.title{
    font-family: 'Airbnb Cereal App';
    font-size: 50px;
    line-height: 45px;
    color: #000000;
}

.Available p{
    font-size: 30px;
    line-height: 39px;
    color: #99D815;
    font-weight: bold;
    float: right;
    padding: 25px 90px 0 50px !important;
}

.borrow button{
    background: #FBCC38;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    width: 150px;
    line-height: 50px;
}

.borrow{
    padding-left: 5px !important;
    margin: auto !important;
    text-align: center;
}

/*Modal*/
.modal-containerr{
    display: none;
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin: auto !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.modall{
    width: 24rem !important;
    padding: 1rem !important;
    margin: 24px auto !important;
    border-radius: 6px !important;
    background-color: white;
    width: 650px !important;
    height: 350px !important;
}

.modal-headerr{
    padding: 12px 0 !important;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-hidee{
    border: 0 !important;
    padding: 4px 8px !important;
    border-radius: 4px !important;
    color: red ;
    cursor: pointer;
}

.modal-bodyy{
    padding: 12px 0 !important;
    line-height: 20px !important;
}

.modal-container-delete{
    display: none;
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin: auto !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.modal-close{
    border: 0 !important;
    padding: 4px 8px !important;
    border-radius: 4px !important;
    color: red  ;
    cursor: pointer;
}

.modal-container-delete.active{
    display: block;
}

.Url{
    width: 120px !important;
    font-weight: 500;
}

.input{
    margin-left: 65px;
}

.modal-footer button{
    border: none !important;
    color: white !important;
    border-radius: 15px;
    line-height: 35px;
    width: 100px;
}

.first{
    height: 60px;
}

.sec{
    height: 45px;
}

.modal-body{
    margin:auto !important;
}

.modal-content{
    margin-left: 80% !important;
    margin-right: 50% !important;
}